<div class="content">
    <div class="lvl-1">
        <div class="h">
            <h1>ЧТО ТАКОЕ FREEPEO</h1>
            <p>Международная социо-экономическая сеть, где можно:</p>
        </div>
        <div class="line-1">
            <div class="box">
                <a href="#"> <div class="img-1"></div> <span> СПРАВЕДЛИВО ОЦЕНИВАТЬ <br/> СВОЙ ТРУД</span></a>
                <p>Рыбные тексты также применяются для демонстрации различных</p>
            </div>
            <div class="box">
                <a href="#"> <div class="img-2"></div> <span> ИСКАТЬ ПАРТНЕРОВ, ПОСТАВЩИКОВ, <br/> ИНВЕСТОРОВ, КЛИЕНТОВ;</span></a>
                <p>Рыбные тексты также применяются для демонстрации различных видов шрифта</p>
            </div>
            <div class="box">
                <a href="#"> <div class="img-3"></div><span> ПРОВОДИТЬ ПЛАТЕЖИ <br/> МОМЕНТАЛЬНО И БЕЗ КОМИССИЙ;</span></a>
                <p>Рыбные тексты также применяются для демонстрации различных видов шрифта и в разработке макетов.</p>
            </div>
        </div>
        <div class="line-2">
            <div class="box">
                <a href="#">  <div class="img-4"></div> <span>АВТОМАТИЗИРОВАТЬ <br/> БИЗНЕС-ПРОЦЕССЫ</span></a>
                <p>Рыбные тексты также применяются для демонстрации различных видов</p>
            </div>
            <div class="box">
                <a href=""> <div class="img-5"></div><span> ИНВЕСТИРОВАТЬ ДЕНЬГИ В <br/> ИНТЕРЕСНЫЕ ПРОЕКТЫ</span></a>
                <p>Рыбные тексты также применяются для демонстрации</p>
            </div>
            <div class="box">
                <a href=""> <div class="img-6"></div> <span> ЗАРАБАТЫВАТЬ БЛАГОДАРЯ <br/> РЕФЕРАЛЬНОЙ СИСТЕМЕ</span></a>
                <p>Рыбные тексты также применяются для демонстрации различных видов шрифта</p>
            </div>
        </div>
    </div>
    <div class="lvl-2">
        <div class="h-2">
            <h1>ДЛЯ КОГО ЭТО НУЖНО</h1>
            <p>Команда единомышленников, мы хотим создать продукт, которым будем пользоваться сами. Наша целевая аудитория - потребители, производители, инвесторы.</p>
        </div>
        <div class="triple_circle">
            <div class="circle">
                <div class="circle-img"><img src="/catalog/view/theme/default/image/lvl-2-circle-1.png" alt="circle-1"/></div>
                <h3>ПОТРЕБИТЕЛЯМ</h3>
                <span>покупать товар по справедливой цене напрямую у производителя с минимальной накруткой при максимальном качестве. </span>
            </div>
            <div class="circle">
                <div class="circle-img"><img src="/catalog/view/theme/default/image/lvl-2-circle-2.png" alt="circle-2"/></div>
                <h3>ПРОИЗВОДИТЕЛЯМ</h3>
                <span>полная организация процесса производства и прямой доступ на огромный рынок с клиентской базой. </span>
            </div>
            <div class="circle">
                <div class="circle-img"><img src="/catalog/view/theme/default/image/lvl-2-circle-3.png" alt="circle-3"/></div>
                <h3>ИВЕСТОРАМ</h3>
                <span>благодаря новой модели ценообразования, можно получать стабильную прибыль с минимальными рисками. </span>
            </div>
        </div>
    </div>
    <div class="lvl-3">
        <div class="h-3">
            <h1>ЗАЧЕМ ВАМ ЭТО НУЖНО</h1>
            <p>Проект FreePeo решит эти и многие другие вопросы. Интернет уже никогда не будет прежним.</p>
        </div>
        <div class="shape-2">
            <img src="/catalog/view/theme/default/image/shape-3.png" alt="shape-3"/>
            <div class="shape-2-text">
                <div class="point">
                    <span>1</span> <p>“Может вы устали от ощущения кота в мешке, делая покупки в интернете?”</p>
                </div>
                <div class="point">
                    <span>2</span> <p>“Вам сложно найти надежных партнеров или квалифицированных работников?”</p>
                </div>
                <div class="point">
                    <span>3</span> <p>“Вы хотите разумно использовать свои сбережения или увеличить капитал?”</p>
                </div>
                <div class="point">
                    <span>4</span> <p>“Вас тоже возмущают банковские комиссии на каждом шагу?”</p>
                </div>
                <img src="/catalog/view/theme/default/image/shape-4.png" alt="shape-4"/>
            </div>
            <div class="email-1">
                <span>Get the advantages of being the first!</span> <br/>
                <input type="text" size="30" placeholder="Email Address">
                <input type="submit" value="Get Started">
            </div>
        </div>
        <div class="man-2">
            <img src="/catalog/view/theme/default/image/man-2.png" alt="man-2"/>
        </div>
    </div>
</div>